body {
  font-family:Arial,sans-serif;
  margin:2%;
  background-color:black;
}
    
div {
    border-radius:10px;
    box-sizing:border-box;
    padding:1%;
    margin:0 0 2%;
}
    
#header {
  background-color:#ccc;
  text-align:center;
  padding:2%;
    }
    
#footer {
      background-color:#ccc;
      text-align:center;
      clear:both;
      padding:2%;

    }
    
#nav {
  background-color:#00233b;
  font-size:40px;
  border-radius:0px;

      }
    
    
#main {
      background-color:#4ca7e8;
      
    }

#sub {
  background-color: aquamarine;
}

h2 {
  text-align:center;
}

.clearfix {
      clear:both;
    }

.img {
  float:left;
  width:250px;
  height:175px;
}

.logo{
  width:200px;
  height:150px;
}

#box {
 
      float:left;
      background-color: aquamarine;
      width:32%;
      margin-left:1%;
    }


